* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div.row {
  width: 100%;
  padding: 22px 125px;
}

div.header {
  min-height: 70px;
  position: fixed;
  z-index: 2;
  background-color: #000000;
  color: #ffffff;
}

div.header_logo {
  float: left;
  width: 30%;
  padding: 0 0 0 25px;
}

div.header_menu {
  float: right;
  width: 70%;
  padding: 0 25px 0 0;
}

ul.header {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

li.header {
  float: right;
  padding: 4px 0 0 50px;
}

li.header a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.7;
}

li.header a:hover {
  text-shadow: 3px 3px 5px white;
  opacity: 1;
}

.dropbtn:hover, div.header_medium:hover .dropbtn {
  border: 1px solid black;
  opacity: 0.7;
}

div.header_medium {
  float: right;
  display: none;
}

.dropdown_content {
  display: none;
  position: absolute;
  right: 30px;
  background-color: black;
  border: 1px solid white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.dropdown_content a {
  display: block;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  text-align: left;
}

.dropdown_content a:hover {background-color: #333333;}

/* This is part of displaying dropdown menu, but I manipulate it as JavaScript code. */
/*
div.header_medium:hover .dropdown_content {
  display: block;
}
*/

div.main_back {
  position: relative;
  min-height: 710px;
  background: url("Axit_Bacground.jpg")  no-repeat center;
  background-size: cover;
}

div.main_left {
  float: left;
  padding: 158px 10px 20px 25px;
}

p.main_left_bold {
  color: white;
  font-size: 32px;
}

p.main_left_normal {
  color: #8d8a8d;
  font-size: 20px;
}

div.download {
  max-width: 135px;
  min-height: 42px;
  margin: 40px 0 0 2px;
  padding-top: 10px;
  border: 2px solid white;
  color: white;
  text-align: center;
}

div.download:hover {
  background-color: lightseagreen;
}

div.main_right {
  float: right;
  padding: 188px 25px 20px 10px;
}

div.main_right_form {
  float: right;
  max-width: 360px;
  overflow: auto;
  border-radius: 5px;
}

div.main_form_row {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div.main_form_top {
  min-height: 54px;
  background-color: #f5f5f5;
  font-size: 22px;
  font-weight: bold;
}

span.orange {
  color: orange;
}

div.main_form_bottom {
  padding: 0;
  background-color: white;
  color: white;
}

input.main_form_bottom_text {
  width: 78%;
  padding: 8px 10px;
  margin: 30px 20px 10px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
}

input.main_form_bottom_submit {
  width: 100%;
  margin: 30px 0 0;
  padding: 19px 32px;
  background-color: #ff9b51;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

div.row_social {
  display: flex;
  min-height: 105px;
  z-index: 2;
  box-shadow: 2px 2px 5px red ;
}

div.social_left {
  width: 40%;
}

div.social_right {
  width: 60%;
}

p.row_social_text {
  width: 100%;
  margin: 0;
  padding-left: 25px;
}

p.social_bold {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

p.social_normal {
  font-size: 17px;
  color: #86878b;
}

.fa {
  width: 13%;
  padding: 10px 0;
  font-size: 48px;
  text-align: center;
  text-decoration: none;
  background: white;
  color: #cccccc;
}

div.row_back_white {
  display: flex;
  min-height: 595px;
  background-color: white;
}

div.row_back_grey {
  display: flex;
  min-height: 595px;
  background-color: #f5f5f5;
}

div.row_tabs {
  
}

div.row_sublist {
  
}

/* For desktop: */
.col_1 {width: 8.33%;}
.col_2 {width: 16.66%;}
.col_3 {width: 25%;}
.col_4 {width: 33.33%;}
.col_5 {width: 41.66%;}
.col_6 {width: 50%;}
.col_7 {width: 58.33%;}
.col_8 {width: 66.66%;}
.col_9 {width: 75%;}
.col_10 {width: 83.33%;}
.col_11 {width: 91.66%;}
.col_12 {width: 100%;}

@media only screen and (max-width: 1024px) {
  ul.header {
    display: none;
  }

  div.header_medium {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col_"] {
    width: 100%;
  }

  ul.header {
    display: inline;
  }

  div.header_medium {
    display: none;
  }

  div.row {
    padding: 22px 20px;
  }

  li.header {
    padding: 4px 0 0 10px;
  }
}

@media only screen and (max-width: 512px) {
  /* For mobile phones: */
  [class*="col_"] {
    width: 100%;
  }

  ul.header {
    display: none;
  }

  div.header_medium {
    display: inline-block;
  }
}