* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div.row {
  width: 100%;
  padding: 22px 125px;
}

div.header {
  position: fixed;
  z-index: 2;
  height: 70px;
  background-color: #000000;
  color: #ffffff;
}

div.header_logo {
  float: left;
  padding: 0 0 0 25px;
  width: 30%;
}

div.header_menu {
  float: right;
  padding: 0 25px 0 0;
  width: 70%;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.header {
  float: right;
  padding: 4px 0 0 50px;
}

li.header a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.7;
}

li.header a:hover {
  text-shadow: 3px 3px 5px white;
  opacity: 1;
}

.dropbtn:hover, div.header_medium:hover .dropbtn {
  border: 1px solid black;
  opacity: 0.7;
}

div.header_medium {
  display: none;
  float: right;
}

.dropdown_content {
  display: none;
  position: absolute;
  right: 30px;
  background-color: black;
  border: 1px solid white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.dropdown_content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_content a:hover {background-color: #333333;}

/* This is part of displaying dropdown menu, but I manipulate it as JavaScript code. */
/*
div.header_medium:hover .dropdown_content {
  display: block;
}
*/

div.main_back {
  position: relative;
  height: 710px;
  background: url("Axit_Bacground.jpg")  no-repeat center;
  background-size: cover;
}

div.main_left {
  padding: 158px 10px 20px 25px;
}

p.main_left_bold {
  color: white;
  font-size: 32px;
}

p.main_left_normal {
  color: #8d8a8d;
  font-size: 20px;
}

div.download {
  width: 135px;
  height: 42px;
  border: 2px solid white;
  margin: 40px 0 0 2px;
  padding-top: 10px;
  color: white;
  text-align: center;
}

div.download:hover {
  background-color: lightseagreen;
}

/* For desktop: */
.col_1 {width: 8.33%;}
.col_2 {width: 16.66%;}
.col_3 {width: 25%;}
.col_4 {width: 33.33%;}
.col_5 {width: 41.66%;}
.col_6 {width: 50%;}
.col_7 {width: 58.33%;}
.col_8 {width: 66.66%;}
.col_9 {width: 75%;}
.col_10 {width: 83.33%;}
.col_11 {width: 91.66%;}
.col_12 {width: 100%;}

@media only screen and (max-width: 1024px) {
  ul.header {
    display: none;
  }

  div.header_medium {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col_"] {
    width: 100%;
  }

  ul.header {
    display: inline;
  }

  div.header_medium {
    display: none;
  }

  div.row {
    padding: 22px 20px;
  }

  li.header {
    padding: 4px 0 0 10px;
  }
}

@media only screen and (max-width: 512px) {
  /* For mobile phones: */
  [class*="col_"] {
    width: 100%;
  }

  ul.header {
    display: none;
  }

  div.header_medium {
    display: inline-block;
  }
}